.circle1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left:25px; 
    top:25px;
    animation: scaling 2s linear infinite;
}

@keyframes scaling {
    0% {
      transform: scale(1);
      background-color: #13a360;
    }
    100% {
      transform: scale(2);
      background-color: rgba(19, 163, 96, 0);
    }
  }